<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home | toy-project-go</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css" integrity="sha512-0qT1XfdzuH6iU1HXY6Ox53EBCSxOesNUu5mx1czNy3u/TQ5QPRmvhJN+Wwxj4OY4NQjQwFVib3UqxFdEQc7BTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <style>
    * {
      font-family: 'Pretendard Variable';
    }
    #pProcess {
      margin-bottom: 0;
    }
    #pProcess img {
      width: 21px;
      height: 21px;
      margin-bottom: 4px;
    }
    #generatedIMG {
      width: 100%; 
      display: block;
    }
    input {
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="wrap pt-3">
      <h1>toy-project</h1>
      <div class="wrap mt-3 mb-3">
        <img src="#" id="generatedIMG" alt="Sorry">
      </div>
      <p id="pProcess">
        <img src="/_/loading.gif"> 이미지를 생성하고 있어요.
      </p>
      <div class="mt-1">
        <div>
          <span class="pixelView">16</span>x<span class="pixelView">16</span> Pixels
          <p style="display:none;">
            <span id="pixelValueId">16</span>
          </p>
        </div>
        <input type="range" id="pixel" value="16" min="1" max="200">
      </div>
      
      <button class="btn btn-primary mt-2" id="generate">Generate New Image</button>
    </div>
    <hr>
    <div class="wrap mt-1">
      <img src="/_/loading.gif" id="process" class="_preload__f" style="display:none;">
      <p>총 <span id="count">{{ . }}</span>개의 이미지가 생성되었습니다.</p>
    </div>
  </div>
  <script defer>
    $(document).ready(function(){
      $('#generatedIMG, #pProcess').hide();
      document.getElementById("pixel").addEventListener("input", function() {
        let pixel = this.value;
        $('.pixelView, #pixelValueId').text(pixel);
      });
      $('#generate').click(function(){
        $('#pProcess').show();
        let pixel = parseInt($('#pixelValueId').text());
        this.disabled = true;
        $('#pixel').prop('disabled', true);
        $.ajax({
          url: '/generate',
          type: 'GET',
          data: {
            pixel: pixel
          },
          success: function(response) {
            if (!response) {
              return
            }
            $('#generatedIMG').attr('src', response)
            $('#generatedIMG').show();
            $('#pProcess').hide();
            $('#generate, #pixel').prop('disabled', false);
          },
          error: function(xhr, status, isError) {
            console.error(isError);
            alert(isError);
          },
        })
      })
    })
  </script>
</body>
</html>